<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> 404 </title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>


</head>


<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container">
    <div class="container-fluid">
        <img th:src="@{/images/404.jpg}" class="img-fluid" alt="Error 404">
    </div>

</div>

</body>
</html>