<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Home </title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    
    <div class="container-fluid">
    	<img th:src="@{/images/sirekrutmen.png}" class="img-fluid" alt="Join SIREKRUTMEN">
    
   		<h1 class="greetings">Selamat Datang <br> di SI-REKRUTMEN,</h1>
<!--   		<h1 class="the-user" th:text ="${#strings.toUpperCase(#authentication.getPrincipal().getUsername())} + '!'">Loggin as</h1>-->
   		
   		<button class="btn btn-primary btn-lowongan"> CARI LOWONGAN</button>
    		
    
    </div>
    
</body>
</html>