<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Profile </title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>


<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container">
    <div class="card align-content-center justify-content-center"
         style="width: 350px;
         margin: auto;
         margin-top: 30px;
         margin-bottom: 10px;">
        <div class="header" style="text-align: center"><h3>Profil Pengguna</h3></div>
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td>Username</td>
                <td th:text="': '+${username}"></td>
            </tr>
            <tr>
                <td>Nama</td>
                <td th:text="': '+${user.nama}"></td>
            </tr>
            <tr>
                <td>Nomor telepon</td>
                <td th:text="': '+${user.noTelepon}"></td>
            </tr>
            <tr>
                <td>Tempat Lahir</td>
                <td th:text="': '+${user.tempatLahir}"></td>
            </tr>
            <tr>
                <td>Tanggal Lahir</td>
                <td th:text="': '+${#dates.format(user.tanggalLahir,'dd/MM/yyyy')}"></td>
            </tr>
            <tr>
                <td>Alamat</td>
                <td th:text="': '+${user.alamat}"></td>
            </tr>
            <tr>
                <td>Role</td>
                <td th:text="': '+${role}"></td>
            </tr>
            <tr>
                <td></td>
                <td><a th:href="@{/pelamar/update}" class="btn btn-info" sec:authorize="hasAnyAuthority('Pelamar')">Update Profile</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>