<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title> Ubah Status Lamaran </title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container-fluid">
                    <div class="d-flex justify-content-center">
                        <h2>Ubah Status Lamaran</h2>
                    </div>
                    <form th:action="@{/lamaran/ubah}" th:object="${lamaran}" method="POST">
                        <input class="form-control" type="hidden" th:field="*{idLamaran}"/>
                        <label><h2>Status</h2></label>
                        <div sec:authorize="hasAuthority('Staff Rekrutmen')">
                            <div th:if="${statusLamaran == 0}">
                                <select class="form-control" name="status" th:field="*{status}">
                                    <option value="0">Melamar</option>
                                    <option value="1">Wawancara</option>
                                </select>
                                <br>
                                <div class="col-sm d-flex justify-content-center">
                                    <button type = "submit" class="btn btn-primary">Simpan</button>
                                </div>
                            </div>
                            <div th:if="${statusLamaran == 1}">
                                <h4 style="color: #0c5460"> Status pelamar sudah wawancara! </h4>
                                <a th:href="@{/lowongan/}" class="btn btn-primary">Kembali</a>
                            </div>
                            <div th:if="${statusLamaran == 2}">
                                <h4 style="color: green"> Status pelamar sudah diterima! </h4>
                                <a th:href="@{/lowongan/}" class="btn btn-primary">Kembali</a>
                            </div>
                            <div th:if="${statusLamaran == 3}">
                                <h4 style="color: darkred"> Status pelamar sudah ditolak! </h4>
                                <a th:href="@{/lowongan/}" class="btn btn-primary">Kembali</a>
                            </div>
                        </div>
                        <div sec:authorize="hasAuthority('Kepala Bagian')">
                            <div th:if="${statusLamaran == 0}">
                                <h4> Status pelamar masih melamar! </h4>
                                <a th:href="@{/lowongan/}" class="btn btn-primary">Kembali</a>
                            </div>
                            <div th:if="${statusLamaran == 1}">
                                <select class="form-control" name="status" th:field="*{status}">
                                    <option value="2">Diterima</option>
                                    <option value="3">Ditolak</option>
                                </select>
                                <br>
                                <div class="col-sm d-flex justify-content-center">
                                    <button type = "submit" class="btn btn-primary">Simpan</button>
                                </div>
                            </div>
                            <div th:if="${statusLamaran == 2}">
                                <h4 style="color: green"> Status pelamar sudah diterima! </h4>
                                <a th:href="@{/lowongan/}" class="btn btn-primary">Kembali</a>
                            </div>
                            <div th:if="${statusLamaran == 3}">
                                <h4 style="color: darkred"> Status pelamar sudah ditolak! </h4>
                                <a th:href="@{/lowongan/}" class="btn btn-primary">Kembali</a>
                            </div>
                        </div>

                        <!--<br>-->
                        <!--<div class="col-sm d-flex justify-content-center">-->
                            <!--<button type = "submit" class="btn btn-primary">Simpan</button>-->
                        <!--</div>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>